/*  alert 모달  */
#alertModal{
  position:absolute;
  padding-top:50%;

  .modal-dialog{
    width:330px;
    margin-left:auto;
    margin-right:auto;
  }
  .modal-content{width:100%;}
  .modal-header{
    font-size:18px;
    font-weight:500;
    border-bottom:0px;
    text-align:center;
  }
  .modal-body{
    padding-top:0px;
    padding-bottom:0px;
  }
  .modal-footer{padding:0px;}
}

/*  로딩 모달  */
#loadingModal{
  position:absolute;
  padding-top:50%;

  .modal-dialog{
    width:330px;
    margin-left:auto;
    margin-right:auto;
  }
  .modal-content{width:100%;}
  .modal-header{
    font-size:20px;
    font-weight:500;
    text-align:center;
    border:0px;
  }
  .modal-body{
    text-align:center;
    padding:0px 15px;
  }
  .modal-footer{border:0px;}
}

/*  로그인 모달  */
#loginModal{
  position:absolute;
  padding-top:50%;

  .modal-header{border:0px;}

  .modal-body{
    padding:0px 15px 5px;

    .loginInput{
      width:100%;
      height:40px;
      border:0px;
      border-radius:0px;
      border-bottom:1px solid #E0E0E0;
    }
    .loginInput:focus{
      outline:none;
      border-bottom:2px solid $pointColor;
    }
    #pwInput{
      margin-top:10px;
    }
  }

  .modal-footer{
    border:0px;

    #findPw{
      position:absolute;
      left:15px;
      bottom:22px;
    }
    #loginButton{
      //background-color:$mainColor;
    }
  }
}

/*  회원가입 모달  */
#joinModal{
  width:100%;
  overflow-x:hidden;
  overflow-y:auto;
  //height:100%;
  .modal-dialog{width:100%;
    //height:100%;
    margin:0px;}
  .modal-content{
    background-color:#F5F5F5;
    width:100%;
    //height:100%;
    margin:0px;
    border-radius:0px;
    border:0px;
  }

  .modal-header{
    padding-top:30px;
    padding-bottom:15px;
    border:0px;
    text-align:center;
    color:#01579B;
    position:relative;
    #joinClose{
      position:absolute;
      top:17px;
      right:17px;
    }
  }
  .modal-body{
    #joinBody1{background-color:white;}
    #joinBody2{background-color:white; margin-top:15px; position:relative;}
    #joinBody3{margin-top:30px;}
    .joinInput{
      width:100%;
      height:50px;
      padding-left:15px;
      border:0px;
      border-radius:0px;
      border-bottom:1px solid #E0E0E0;
    }
    .joinInput:focus{outline:none;border-bottom:2px solid #E91E63;}
    #joinPwCircle{
      width:25px;
      height:25px;
      font-weight:700;
      position:absolute;
      top:13px;right:20px;
      padding-top:2px;
      text-align:center;
      border-radius:30em;
      background-color:#e2e2e2;
      border-color:#e2e2e2;
    }
    #joinPwA{
      padding-left:15px;
      font-size:14px;
    }
    .joinInfo{outline:none}

    .joinText{
      font-size:16px;
      font-weight:500;
      text-align:center;
      margin-bottom:18px;
    }
    .joinText2{
      font-size:13px;
      font-weight:400;
      padding-left:2px;
      margin-bottom:5px;
    }
    #joinPositionText{margin-top:30px;}

    .joinTeam{
      width:100%;
      background-color:white;
      padding:15px;
      margin-bottom:15px;
      td{padding:10px;
      position:relative;}
    }
    .joinNBAlogo{
      width:100%;
      -webkit-filter: grayscale(5%); /* Chrome, Safari, Opera */
      filter: grayscale(5%);
    }
    .teamCheck{display:none;}
    .teamClick{
      display:block;
      font-size:30px;
      color:$pointColor;
      position:absolute;
      left:20px;
      top:15px;
    }

    .joinPosition{
      margin-top:0px;
      padding:0px;
      width:100%;
      height:40px;
      font-size:13px;
      font-weight:400;
      table-layout: fixed;
      td{
        text-align:center;
        color: #9E9E9E;
        background-color:white;
        position:relative;
      }
      .oneClick{
        border-bottom:2px solid $pointColor;
        font-weight:500;
        color:black;
      }
    }
    .positionCheck{display:none;}
    .posiClick{
      display:block;
      font-size:30px;
      color:$pointColor;
      position:absolute;
      left:20px;
      top:4px;
    }

  }
  .modal-footer{border:0px;
    #joinOkB{
      width:100%;height:50px;
      font-size:16px;font-weight:600px;color:01579B;
      margin:20px 0px;
    }
  }
}
