#predictContainer{
  width:100%;
  position:relative;
}

#predictDetailContainer{
  padding-top:25px;

  #predictDetailLoader{
    padding-top:120px;
    height:400px;
    text-align:center;
    font-size:20px;
    font-weight:500;

    #predictDetailLoaderText{margin-top:10px;}
  }

  #predictInfo{margin-bottom:20px;}
  #predictType{
    position:absolute;
    top:60px;
    right:15px;
    display:table;
    table-layout: fixed;

    #predictS{
      border-top-left-radius:10px;
      border-bottom-left-radius:10px;
      border-right:0px;
    }
    #predictM{
      border-top-right-radius:10px;
      border-bottom-right-radius:10px;
    }
    .p-type{
      display:inline;
      border:1px solid $mainColor;
      padding:5px 10px;
      font-size:15px;
      font-weight:400;
    }
    .p-select{
      background-color:$mainColor;
      color:white;
    }
  }

}

#predictGameTable{
  width:100%;
  background-color:$gameColor;
  margin-bottom:10px;
  text-align:center;

  td{
    //border:1px solid black;
    height:55px;
  }
  td:nth-child(1){width:15%;}
  td:nth-child(2){width:20%;}
  td:nth-child(3){width:30%;}
  td:nth-child(4){width:20%;}
  td:nth-child(5){width:15%;}

  .predictNBAlogo{
    height:100%;
  }
}
