/*  predict  */
#predictContainer{
  width:100%;
  position:relative;
}


/*  predictDetail  */
.predictDetailContainer{
  padding-top:25px;

  .predictDetailLoader{
    padding-top:120px;
    height:400px;
    text-align:center;
    font-size:20px;
    font-weight:500;

    .predictDetailLoaderText{margin-top:10px;}
  }

  .predictDeHead{
    width:100%;
    font-size:13px;
    font-weight:500;
    text-align:center;
    margin-top:10px;
    margin-bottom:5px;
    td:nth-child(1){width:31%;}
    td:nth-child(2){width:16%;}
    td:nth-child(3){width:31%;}
    td:nth-child(4){width:4%;}
    td:nth-child(5){width:18%;color:$pointColor;}
  }

  .predictDeMain{
    position:relative;
    margin-bottom:40px;

    .predictGaTable{
      width:83%;
      background-color:$gameColor;
      margin-bottom:10px;
      text-align:center;
      border-radius:5px;
      border-collapse: separate;;
      td{height:55px;}
      td:nth-child(1){width:20%;}
      td:nth-child(2){width:20%;}
      td:nth-child(3){width:20%;}
      td:nth-child(4){width:20%;}
      td:nth-child(5){width:20%;}

      .predictGameLeft{
        background-color:#B0BEC5;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .predictGameRight{
        background-color:#B0BEC5;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      .predictNBAlogo{
        width:100%;
      }
      .gameOdds{
        font-size:15px;
        font-weight:500;
      }
      .gameProbs{
        font-size:10px;
      }
    }

    .predictPicks{
      border:2px solid #455A64;
      width:15%;
      height:100%;
      position:absolute;
      text-align:center;
      top:0px;
      right:0px;

      .predictPicksDiv{
        height:55px;
        padding-top:17px;
        margin-bottom:10px;
      }
    }

  }
}


/* PredictBet */
.predictBetContainer{
  margin-bottom:40px;

  .predictType{
    width:100%;
    text-align:center;
    display:table;
    table-layout: fixed;

    .pType{
      display:table-cell;
      //border:1px solid $mainColor;
      padding:5px 10px;
      font-size:14px;
      font-weight:400;
      color:$mainColor;
      background-color:$gameColor;
    }
    .pClick{
      border-bottom:2px solid $mainColor;
      background-color:$mainColor;
      color:white;
      font-weight:500;
    }
  }

  .pTab{display:none;}
  .pClick{display:block;}


  /* 단일픽 */
  .betSingleTop{padding:0px 10px 10px;}
  .betSingleBottom{padding:10px;background-color:$gameColor;}
  .betSingleTable{
    width:100%;
    text-align:center;

    td:nth-child(1){width:11%}
    td:nth-child(2){width:8%}
    td:nth-child(3){width:11%}
    td:nth-child(4){width:24%}
    td:nth-child(5){width:14%}
    td:nth-child(6){width:32%}
    thead{
      font-size:14px;
      font-weight:500;
      td{height:35px;padding-top:5px;}
    }
    tbody{
      font-size:13px;
      td{height:30px;}
      td:nth-child(4){color:$pointColor}
    }
  }

  /* 복수픽 */

  .betMultiTop{padding:0px 10px 10px;}
  .betMultiBottom{padding:10px;background-color:$gameColor;}
  .betMultiTable{
    width:100%;
    text-align:center;

    td:nth-child(1){width:20%}
    td:nth-child(2){width:10%}
    td:nth-child(3){width:20%}
    td:nth-child(4){width:25%}
    td:nth-child(5){width:25%}
    thead{
      font-size:14px;
      font-weight:500;
      td{height:35px;padding-top:5px;}
    }
    tbody{
      font-size:13px;
      td{height:30px;}
      td:nth-child(4){color:$pointColor}
    }
  }

  /* bottomTable, input, 원, 버튼 */
  .betBottomTable{
    width:100%;
    margin-bottom:10px;
    table-layout: fixed;

    td{height:35px;font-weight:500;}
    td:nth-child(1){font-size:14px;}
    td:nth-child(2){font-size:15px;text-align:right;}

  }
  input{text-align:right;width:50%;}
  .betWon{margin-left:10px;padding-right:5px;font-size:14px;}
  .betButton{
    width:100%;
    height:40px;
    font-size:16px;
    font-weight:500;
    color:white;
    background-color:$mainColor;
  }
}


/*  myPredict  */
.MyPredictContainer{margin-bottom:30px;}
.myPredictEP{
  border:2px solid $mainColor;
  box-shadow:0px 2px 5px gray;
  width:100%;
  height:40px;

  td:nth-child(1){
    padding-left:10px;
    width:20%;
    font-size:15px;
    font-weight:500;
  }
  td:nth-child(2){
    width:60%;
    font-size:15px;
    font-weight:500;
    color:$pointColor;
  }
  td:nth-child(3){width:15%; text-align:center;}

  .myPredictUp{display:none}
}
.myPredictContents{
  border:1px solid $mainColor;
  border-top:0px;
  padding:5px 0 5px 10px;
  display:none;

  .myPredictCTable{width:100%}
  thead{
    font-size:14px;
    font-weight:500;
    border-bottom:1px solid gray;
    td{height:32px;}
  }
  tbody{
    font-size:13px;
    td{height:30px; padding-top:5px;}
    i{font-weight:200;}
  }


  td:nth-child(1){width:12%}
  td:nth-child(2){width:50%}
  td:nth-child(3){width:15%}
  td:nth-child(4){width:16%}
  td:nth-child(5){width:6%}

}
