#headerContainer{
  width:100%;
  padding:20px;
  background-color:#00897B;
  color:white;
}


#mainImg{
  height:24px;
  width:24px;
  border: 2px solid gold;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -khtml-border-radius: 14px;
  -webkit-border-radius: 14px;
}
