#headerContainer{
  width:100%;
  margin-top:30px;
  border:1px solid red;
}


#mainImg{
  height:24px;
  width:24px;
  border: 2px solid gold;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -khtml-border-radius: 14px;
  -webkit-border-radius: 14px;
}
